@model IEnumerable<Application.DTO.BrandListDto>

@{
    ViewData["Title"] = "listnews";
    Layout = "~/Views/Shared/_admin.cshtml";
}


<p>
    <a asp-action="AddBrand" class="btn btn-info">ایجاد برند</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
  
        <th>
            @Html.DisplayNameFor(model => model.NameF)
        </th>

    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.NameF)
            </td>
            <td>
                @Html.ActionLink("ویرایش", "AddBrand", new {  id=item.Id },new {@class="btn btn-dark"}) |
                @Html.ActionLink("حذف", "DeleteBrand", new {  id=item.Id },new {@class="btn btn-danger"})
            </td>
        </tr>
    }
    </tbody>
</table>